%h2 What?

%p Easily scrape content from javascript bypassing the Origin policy by making ajax requests to the jScrape server

%h2 Whaaat?

%p Include external content! Get it directly trough ajax calls with three lines of code!

%h3 Aaaaaah...


%h2 Well... How?


%pre
  :preserve
    var url = "http://jquery.com"
    var jscrape = new $.jScrape()
    
    jscrape.get(url, function(page){
      var html = jscrape.get(url).html
    })

%h3 A 'practical' example:
%p Including external content without using iframes    

%pre
  :preserve
    var url = "http://jquery.com"
    var jscrape = new $.jScrape()
    jscrape.frame("#jsc_frame").get(url, function(page){
      page.fetch("body") // use css selectors
    })
    
#demo1.demo
  %p.inline url:
  %p.address.inline http://jquery.com
  %p.inline fetch: 
  %p.address.inline #jq-intro
  %a.button#jsc_test1{ href: "javascript:void(0)" } Load

  #jsc_frame1.jsc_frame
    This is the target frame
  
%h2 How does it work?

%p 
  You request the content from jScrape server that makes the call, handles redirects and handle you the page content, you can traverse it with css selectors and get the datas you care about 
  / and thinks about keeping a cached copy


%h3 To be Implemented
%ul.tbi_features
  %li serverside traversing
  %li caching

%h4 
  - link_to "please fork!", "https://github.com/makevoid/jscrape"
  

#demo2.demo
  %form{ action: "#" } 
    %p.inline url:
    %input.address.inline{ name: "address", type: "text", value: "http://makevoid.com" }
    %p.inline fetch: 
    %input.address.inline{ name: "selector", type: "text", value: "img" } 
    %input.button#jsc_test1{ type: "submit", value: "Load" }

  #jsc_frame2.jsc_frame
    This is the target frame


%h4 
  See the a 
  - link_to "simple complete working example", "http://jscrape.it/example.html" 
  - link_to "source code here", "https://github.com/makevoid/jscrapeweb/blob/master/public/example.html"
