button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none; }

*, html, body {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

img {
  border: 0; }

ul {
  list-style-type: none; }

li {
  display: inline; }

.clear {
  clear: both; }

a {
  text-decoration: none; }

@font-face {
  font-family: Guardian;
  src: url(/fonts/guardian.eot); }

@font-face {
  font-family: Guardian;
  src: url("/fonts/guardian.otf"); }

body {
  font-family: sans-serif, Helvetica, Arial, Verdana;
  color: #222222;
  font-size: 120%;
  height: 100%;
  background: #56d1a9; }

#wrap {
  background: #eeeeee;
  background-image: radial-gradient(center bottom, cover, #56d1a9, #eeeeee);
  background-image: -moz-radial-gradient(center bottom, circle cover, #56d1a9, #eeeeee);
  background-image: -webkit-gradient(radial, center bottom, 700, center bottom, 300, from(#eeeeee), to(#56d1a9));
  min-height: 100%;
  padding: 30px 0 10px; }

a {
  color: #eb6e1e;
  text-shadow: 1px 1px 1px white; }

a:hover {
  color: #fc7f2f;
  text-shadow: 0px 0px 2px #00ff75; }

input[type='submit'], input.submit, a.button {
  display: inline-block;
  padding: 0.1em 1em 0.12em;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 1.3em;
  -webkit-border-radius: ".5em";
  -moz-border-radius: ".5em";
  border-radius: ".5em";
  border: solid 1px #cccccc;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: solid 1px #919191;
  background-color: #999999;
  background: -webkit-gradient(linear, left top, left bottom, from(#bababa), to(#999999));
  background: -moz-linear-gradient(top, #bababa, #999999);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bababa', endColorstr='#999999');
  color: #f4f4f4;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px; }
  input[type='submit']:hover, input.submit:hover, a.button:hover {
    text-decoration: none; }
  input[type='submit']:active, input.submit:active, a.button:active {
    position: relative;
    top: 1px; }
  input[type='submit']:hover, input.submit:hover, a.button:hover {
    background-color: #8c8c8c;
    background: -webkit-gradient(linear, left top, left bottom, from(#b3b3b3), to(#8c8c8c));
    background: -moz-linear-gradient(top, #b3b3b3, #8c8c8c);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#8c8c8c'); }
  input[type='submit']:active, input.submit:active, a.button:active {
    background-color: #b3b3b3;
    background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#b3b3b3));
    background: -moz-linear-gradient(top, #999999, #b3b3b3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#b3b3b3');
    color: #e0e0e0; }

#container {
  min-height: 100%;
  width: 90%;
  margin: 0 auto 20px;
  padding: 0;
  background-image: -moz-linear-gradient(top, rgba(235, 110, 30, 0.4), rgba(255, 255, 255, 0.4));
  background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(235, 110, 30, 0.4)), to(rgba(255, 255, 255, 0.4)));
  border: 2px solid #eb6e1e;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-box-shadow: 2px 2px 30px #eb6e1e;
  -webkit-box-shadow: 2px 2px 30px #eb6e1e;
  box-shadow: 2px 2px 30px #eb6e1e; }

#content {
  margin: 0 30px 0;
  padding: 0 0 30px;
  text-shadow: 1px 1px 1px white; }

header {
  padding: 12px 30px 12px;
  background-image: -moz-linear-gradient(top, rgba(255, 144, 64, 0.8), rgba(116, 0, 0, 0.8));
  background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 144, 64, 0.8)), to(rgba(116, 0, 0, 0.8)));
  border-bottom: 2px solid #eb6e1e;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 30px;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  color: #fafafa; }
  header a {
    color: #fafafa;
    text-shadow: 2px 2px 3px #333333; }
  header a:hover {
    color: white;
    text-shadow: 2px 3px 3px black; }

p {
  font-size: 1em; }

pre {
  font-size: 1.2em;
  background: white;
  padding: 12px 15px;
  border: 1px solid #999999;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; }

h1 {
  font-size: 2em; }
  h1 span {
    font-size: 0.55em;
    display: block; }

h2 {
  margin: 20px 0 5px;
  font-size: 1.4em; }

h3 {
  margin: 10px 0 3px;
  font-size: 1.2em; }

h4 {
  margin: 8px 0 3px;
  font-size: 1.05em; }

.inline {
  float: left;
  margin: 5px 0 0 5px; }

.selector {
  font-weight: bold;
  font-size: 1em;
  background: white;
  padding: 2px 10px;
  margin-right: 5px;
  border: 2px solid #999999;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 100px; }

.address {
  font-weight: bold;
  font-size: 1em;
  background: white;
  padding: 2px 10px;
  margin-right: 5px;
  border: 2px solid #999999;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 300px; }

.demo {
  margin: 10px 0;
  padding: 12px;
  background: #cccccc;
  border: 1px solid #999999;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; }
  .demo a.button {
    margin-top: 3px;
    font-weight: bold;
    font-size: 1em;
    border: solid 1px #919191;
    background-color: #999999;
    background: -webkit-gradient(linear, left top, left bottom, from(#bababa), to(#999999));
    background: -moz-linear-gradient(top, #bababa, #999999);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bababa', endColorstr='#999999');
    color: #f4f4f4; }
    .demo a.button:hover {
      background-color: #8c8c8c;
      background: -webkit-gradient(linear, left top, left bottom, from(#b3b3b3), to(#8c8c8c));
      background: -moz-linear-gradient(top, #b3b3b3, #8c8c8c);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#8c8c8c'); }
    .demo a.button:active {
      background-color: #b3b3b3;
      background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#b3b3b3));
      background: -moz-linear-gradient(top, #999999, #b3b3b3);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#b3b3b3');
      color: #e0e0e0; }

.jsc_frame {
  margin: 20px 0 10px;
  padding: 12px;
  background: #aaaaaa;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.tbi_features li {
  display: block; }

pre {
  margin-top: 8px; }

.space {
  margin-top: 30px; }
